# This is an example .env file. Copy this to .env and fill in the values.

# Neon PostgreSQL (Drizzle ORM):
DATABASE_URL=

# Better-Auth:
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# OAuth Providers:
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend:
RESEND_API_KEY=
RESEND_FROM_EMAIL=
